In [55]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/heart_disease_uci.csv")

In [56]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB
None

In [57]:
print(df.describe())

               id         age    trestbps        chol      thalch     oldpeak  \
count  920.000000  920.000000  861.000000  890.000000  865.000000  858.000000
mean   460.500000   53.510870  132.132404  199.130337  137.545665    0.878788
std    265.725422    9.424685   19.066070  110.780810   25.926276    1.091226
min      1.000000   28.000000    0.000000    0.000000   60.000000   -2.600000
25%    230.750000   47.000000  120.000000  175.000000  120.000000    0.000000
50%    460.500000   54.000000  130.000000  223.000000  140.000000    0.500000
75%    690.250000   60.000000  140.000000  268.000000  157.000000    1.500000
max    920.000000   77.000000  200.000000  603.000000  202.000000    6.200000

               ca         num
count  309.000000  920.000000
mean     0.676375    0.995652
std      0.935653    1.142693
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    1.000000
75%      1.000000    2.000000
max      3.000000    4.000000

In [58]:
print(df.isnull().sum())

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

In [59]:
categorical=df.select_dtypes(include=["object","category"]).columns
numerical=df.select_dtypes(include=["float","int64"]).columns
print("Kategorik Sütunlar:",categorical)
print("Numeric Sütunlar:",numerical)

Kategorik Sütunlar: Index(['sex', 'dataset', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'thal'], dtype='object')
Numeric Sütunlar: Index(['id', 'age', 'trestbps', 'chol', 'thalch', 'oldpeak', 'ca', 'num'], dtype='object')

In [60]:

numeric_columns = ['trestbps', 'chol', 'thalch', 'oldpeak']
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())

categorical_columns = ['fbs', 'restecg', 'exang', 'slope', 'thal']
for col in categorical_columns:
    df[col] = df[col].fillna(df[col].mode()[0])


df.drop(columns=['ca'], inplace=True)

# Temizlenmiş veriyi kontrol etme
print(df.isnull().sum())

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
thal        0
num         0
dtype: int64

<ipython-input-60-001004d0fb09>:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(df[col].mode()[0])

In [61]:
from sklearn.preprocessing import StandardScaler
# StandardScaler uygula
scaler = StandardScaler()
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

# Sonuçları göster
print(df.head())

   id  age     sex    dataset               cp  trestbps      chol    fbs  \
0   1   63    Male  Cleveland   typical angina  0.698041  0.311021   True
1   2   67    Male  Cleveland     asymptomatic  1.511761  0.797713  False
2   3   67    Male  Cleveland     asymptomatic -0.658158  0.274289  False
3   4   37    Male  Cleveland      non-anginal -0.115679  0.467130  False
4   5   41  Female  Cleveland  atypical angina -0.115679  0.044717  False

          restecg    thalch  exang   oldpeak        slope               thal  \
0  lv hypertrophy  0.495698  False  1.349421  downsloping       fixed defect
1  lv hypertrophy -1.175955   True  0.589832         flat             normal
2  lv hypertrophy -0.340128   True  1.634267         flat  reversable defect
3          normal  1.968345  False  2.488805  downsloping             normal
4  lv hypertrophy  1.371326  False  0.494884    upsloping             normal

   num
0    0
1    2
2    1
3    0
4    0

In [63]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# Label Encoding uygula
label_encoder = LabelEncoder()
for col in categorical_columns:
    df[col] = label_encoder.fit_transform(df[col].astype(str))

# One Hot Encoding uygula
df = pd.get_dummies(df, columns=categorical_columns)

# Sonuçları göster
print(df.head())

   id  age     sex    dataset               cp  trestbps      chol    thalch  \
0   1   63    Male  Cleveland   typical angina  0.698041  0.311021  0.495698
1   2   67    Male  Cleveland     asymptomatic  1.511761  0.797713 -1.175955
2   3   67    Male  Cleveland     asymptomatic -0.658158  0.274289 -0.340128
3   4   37    Male  Cleveland      non-anginal -0.115679  0.467130  1.968345
4   5   41  Female  Cleveland  atypical angina -0.115679  0.044717  1.371326

    oldpeak  num  ...  restecg_1  restecg_2  exang_0  exang_1  slope_0  \
0  1.349421    0  ...      False      False     True    False     True
1  0.589832    2  ...      False      False    False     True    False
2  1.634267    1  ...      False      False    False     True    False
3  2.488805    0  ...       True      False     True    False     True
4  0.494884    0  ...      False      False     True    False    False

   slope_1  slope_2  thal_0  thal_1  thal_2
0    False    False    True   False   False
1     True    False   False    True   False
2     True    False   False   False    True
3    False    False   False    True   False
4    False     True   False    True   False

[5 rows x 23 columns]